header{
  width: 100%;
}

/* Primeiro cabeçalho */

.cabecalho__principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 15px 50px;
  position: fixed;
  background-color: #fff;
  z-index: 2;
}

.cabecalho__principal img{
  width: 60px;
  cursor: pointer;
}

.cabecalho__principal ul{
  display: flex;
  gap: 85px;
}

.cabecalho__principal li{
  color: rgb(56, 56, 56);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s;
}

.cabecalho__principal li:hover{
 color: rgb(43, 42, 42);
 font-weight: bold;
 transform: scale(1.05);
}

.cabecalho__principal-busca{
  display: flex;
}

.cabecalho__principal-busca i{
  cursor: pointer;
  width: 20px;
}

.cabecalho__principal-busca input{
  border: none;
  border-bottom: 1px solid rgb(56, 56, 56);
  height: 20px;
  outline: none;
  
}

.cabecalho-buscar{
  position: relative;
  margin-right: 10px;
}

.cabecalho__principal-busca .fa-search{
  position: absolute;
  right: 0;
  cursor: pointer;
}

.cabecalho__icones i{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
}

.cabecalho__icones span{
  position: absolute;
  background-color: #E9E9E9;
  display: none;
  z-index: 1;
  text-align: center;
  margin: auto;
  font-size: 10px;
  width: 50px;
}

.cabecalho__icones:hover span{
  display: block;
}

.img-quem-somos img{
  border-radius: 50%;
}

@media screen and (max-width:1100px){
  .cabecalho__principal{
    justify-content: center;
  }
  .cabecalho__principal-busca{
    display: none;
  }

  .cabecalho__principal img{
    display: none;
  }

  .cabecalho__principal li{
    font-size: 14px;
  }

}

@media screen and (max-width:800px){
  .cabecalho__principal ul{
    gap: 20px;
  }
}

@media screen and (max-width:500px){
  .cabecalho__principal{
    padding: 15px;
  }

  .cabecalho__principal li{
    font-size: 18px;
  }

  .quemsomos-hide{
    display: none;
  }

  .contato-hide{
    display: none;
  }
}
